<ion-header [translucent]="true">
  <ion-toolbar class="background-head">
    <ion-avatar slot="start" class="ion-text-center">
      <ion-icon size="large" name="person-sharp"></ion-icon>
    </ion-avatar>
    &nbsp; &nbsp;
    <ion-label>Item Avatar</ion-label>
    <ion-icon slot="end" size="large" name="navigate-sharp"></ion-icon>
    <ion-icon slot="end" size="large" name="megaphone-sharp"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card class="background-head">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle1</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="background-head">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle2</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="background-head">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle3</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col class="background-image">
        <img alt="logo" height="100" width="200" src="./assets/img/Fullyvac.png" >
      </ion-col>
      <ion-col>
        <ion-icon class="background-image" name="person-sharp" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <ion-icon class="background-image" name="medkit-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon class="background-image" name="person-sharp" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon class="background-image" name="person-sharp" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon class="background-image" name="medkit-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon class="background-image" name="person-sharp" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon class="background-image" name="person-sharp" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon class="background-image" name="medkit-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon class="background-image" name="person-sharp" size="large"></ion-icon>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
